   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Agrega los enlaces a los archivos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%- include('./layouts/main')%>



    <h1 class="text-center my-5 display-4">Welcome back <b></b></h1>

<div class="text-center my-5">
    <a href="/tasks" class="btn btn-success btn-lg">Get started</a>
</div>

    <!-- Agrega los enlaces a los archivos de Bootstrap y jQuery (si es necesario) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <!-- Si necesitas jQuery, descomenta la siguiente línea -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
</body>
</html>